body {
    background: #f7f7f7 url("/template/login/image/Login-Background.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue";
}

.title{
    font-size: 55px;
    color: gold;
}

.login-form {
    text-align: center;
}

.form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.main-div {
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}

.form-group {
    margin-bottom: 10px;
}

.btn.btn-primary {
    background: #f0ad4e none repeat scroll 0 0;
    border-color: gold;
    font-weight: bold;
    color: #f7f7f7;
    font-size: 14px;
    width: 40%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.btn.btn-secondary{
    background: #f0ad4e none repeat scroll 0 0;
    border-color: gold;
    font-weight: bold;
    width: 45%;
    height: 100%;
    color: #f7f7f7;
    font-size: 10px;
    line-height: 50px;
    padding: 0;
    text-align: center;
}

.forgot{
    margin: 10px auto 30px;
    display: flex;
    width: 50%;
    height: 40px;
    justify-content: space-between;
    position: center;
    margin-top: 5px;
}